---
layout: plain
---


<div id="content" class="uk-container">
    {% for topic in site.data.topics %}
    <div class="uk-grid-collapse uk-flex-right@s uk-margin-large-bottom" uk-grid>
        <div class="ti-topic uk-width-1-2@s box">
            <h3 id="topic{{ forloop.index }}">{{ topic.title }}</h3>
            {% if topic.closed %}
            <div class="ttarg{{ forloop.index }}">
                <button style="float: right; margin-left: 3ex;" 
                    class="uk-button" uk-toggle="target: .ttarg{{ forloop.index }};animation: uk-animation-slide-top-small;">{% if topic.button %}{{ topic.button }}{% else %}Learn more{% endif %}</button>
                {% if topic.teaser %}
                <div>{{topic.teaser}}</div>
                {% endif %}
            </div>
            {% endif %}
            <div class="ttarg{{ forloop.index }}" {% if topic.closed %}hidden{% endif %}>
            {% if topic.body %}
                {{ topic.body | markdownify }}
            {% endif %}
            {% if topic.list %}
            <table class="uk-table uk-table-striped uk-table-small">
                {% for spec in topic.list %}
                    {% for item in spec %}
                        <tr><td>{{ item[0] }}</td>
                            <td class="uk-table-expand">{{ item[1] }}</td></tr>
                    {% endfor %}
                {% endfor %}
                </table>
            {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="ti-people uk-margin-top uk-position-relative uk-text-muted uk-text-small">
    <div class="uk-container uk-margin-large-bottom uk-margin-large-top">
        <h3 id="people">The People</h3>
        <div class="uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
            {% for person in site.data.people %}
            <div class="ti-person" id="person{{ forloop.index }}">
                <div class="uk-margin-large-bottom uk-margin-large-top uk-flex-center" uk-grid>
                    <div class="uk-width-2-3">
                    <img class="uk-border-circle" src="/assets/img/{{ person.pic }}"/>
                    </div>
                    </div>
                <h4 class="person-name" >{{ person.name }}</h4>
                {{ person.bio | markdownify }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

