---
layout: plain
---
<div id="content" class="uk-container">
    <div class="uk-grid-collapse uk-flex-right@s uk-margin-large-bottom" uk-grid>
        <div class="ti-topic uk-width-1-2@s box uk-overflow-auto">
            <h2>Specifications</h2>
            <table class="uk-table uk-table-striped uk-table-small">
            {% for spec in site.data.specifications %}
                {% for item in spec %}
                    <tr><td>{{ item[0] }}</td>
                        <td class="uk-table-expand">{{ item[1] }}</td></tr>
                {% endfor %}
            {% endfor %}
            </table>
        </div>
    </div>
</div>

