---
---

$ti-color-dark-blue: #1b3764;

.uk-navbar-nav>li>a {
    transition-property: all;
    transition-duration: 0.2s;
    font-weight: 300;
    img {
        transition-property: all;
        transition-duration: 0.2s;
        height: 80px;
    }
}

nav.uk-active li a {
    min-height: 60px;
    img {
        height: 60px;
    }
}

#background {
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(208, 222, 234, 1) 100%);
}

#bg-box {
    position: absolute;
    top: 150px;
    right: -10%;
    width: 90%;
    left: 0;
    img {
        width: 100%;
    }
}

#menu-label {
    font-size: 2rem;
    font-weight: 300;
    padding-right: 0.5ex;
    color: $ti-color-dark-blue;
}
footer {
    background-color: $ti-color-dark-blue;
    width: 100%;
    float: left;
}

#content {
    padding-top: 260px;
}

@media (max-width: 639px) {
    #content {
        padding-top: 74vw;
    }

    #bg-box {
        top: 27vw;
        right: -5%;
        width: 110%;
    }
}

#bg-spot-1 {
    position: absolute;
    background-image: radial-gradient(circle at center, #0084b4, 
    rgba(2, 161, 218, 0.5) 10%, 
    rgba(255, 255, 255, 0) 52.1%);
    width: 7%;
    height: 7%;
    top: 15%;
    right: 50%;
    transform: rotate(35deg);
    transform-origin: 120% 600%;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-name: spot-1;
    animation-timing-function: ease-in-out;
    will-change: transform, opacity;
}

@keyframes spot-1 {

    from {
        opacity: 0;
        transform: rotate(35deg);
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: rotate(-40deg);
    }
}

.box {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding-bottom: 5ex;
    padding-top: 1ex;
    padding-right: 5ex;
    padding-left: 3ex;
}

h3 {
    font-size: 1.45rem;
}
    
h4.person-name {
    color: #77869c;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.ti-topic a:link {
    text-decoration: none;
    color: #77869c;
} 
.ti-topic a:visited {
    text-decoration: none;
    color: #09449b;
} 
.ti-topic a:active {
    text-decoration: none;
    color: 032d6a;
} 
.ti-topic a:hover {
    text-decoration: none; 
    background-color:white;
    color:032d6a
}

.ti-topic em {
    color: inherit;  
    font-weight: 300;
}

.ti-people {
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    float: left;
}

.ti-person a:link {
    text-decoration: none;
    color: #77869c;
} 
.ti-person a:visited {
    text-decoration: none;
    color: #09449b;
} 
.ti-person a:active {
    text-decoration: none;
    color: #032d6a;
} 
.ti-person a:hover {
    text-decoration: none; 
    background-color:white;
    color:#032d6a
}

